@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --bg-color: rgb(244,234,234);
    --primary-color:#1b2430;
}

header {
    margin-top: 2rem;
}
header img {
    width: 50rem;
}